.outer-div {
  background: rgba(255, 255, 255, 0.5);
  color: white;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-right: 2rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.date-input {
  margin-top: 0%;
  width: 75%;
}

.break-div {
  white-space: pre-line;
}

.container1 {
  display: flex;
  background-image: url("https://cdn.pixabay.com/photo/2014/07/06/13/55/calculator-385506_960_720.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: max-content;
  justify-content: right;

  height: 650px;
  padding-right: 5%;
}
