<div class="bg-img">
  <h1 class="text-center" style="color: whitesmoke">
    Welcome to the Pension Management Portal
  </h1>
  <div class="row mt-3 align">
    <!-- Pension Amount Details -->
    <div class="col-lg-6 mb-5">
      <div class="outer-card-div curved-div">
        <div class="inner-card-div">
          <!-- <h3 class="text-center">Get Pension Amount Details</h3> -->
          <a
            href="#"
            routerLink="../pension-details"
            class="col-6 offset-3 btn bg-color"
            >Get Pension Amount <i class="fas fa-angle-double-right"></i
          ></a>
        </div>
        <div id="pension-amount" class="card-body"></div>
      </div>
    </div>
    <!-- Pension Amount Details ends -->

    <!-- Process Pension Serivce -->
    <div class="col-lg-6 mb-5">
      <div class="outer-card-div curved-div">
        <div class="inner-card-div">
          <!-- <h3 class="text-center">Process Pension</h3> -->
          <a
            href="#"
            routerLink="../process-pension"
            class="col-6 offset-3 btn bg-color"
            >Head To Process Pension <i class="fas fa-angle-double-right"></i
          ></a>
        </div>
        <div id="process-pension" class="card-body"></div>
      </div>
    </div>
    <!-- Process pension ends -->
  </div>
</div>
